{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}ThankPython {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <!-- <a href="/" class="logo">OFP Canned Project</a> -->
        <a href="/" class="logo">
        <!-- <img id="" src="../../static/img/no_image.png" alt="return to home" /> -->
        <img id="logo-image" src="../../static/img/lightWhal.png" alt="" />
        Click the NarWhal to head back home
</a>
    </div>
    <div id="subheader">
<div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
           Your carts got:
           <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}

           {% else %}
           You should Add some Cool Stuff!!
           {% endif %}
           {% endwith %}
</div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
