
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}ThankPython {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">This is a Store Hate Typed for Jase</a>
    </div>
    <div id="subheader">
<div class="cart">
    {% with total_items=carrt|length %}
        {% if cart|length > 0 %}
           Your carts got:
           <a href="{% url "cart:cart_detaul" %}">
               {{ total_items}} items {{total_items|pluralize }}, costing: ${{cart.get_total_price}}</a>
           {% else %}
           You should Add some Cool Stuff!!
           {% endif %}
           {% endwith %}
</div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
